body,ul{
    margin: 0;
    padding: 0;

    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
ol,ul{
    list-style: none;
}
a{
    color: #3C3C3C;
    text-decoration:none;
}


.clearfix::before.clearfix::after{
    content: " ";
    display: table;
}


.nav{
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

.nav .nav-bd{
    position: relative;
    margin: 0 auto;
    width: 1190px;
    height: 35px;
}

.nav .nav-bd ul{
    display: inline-block;
    height: 35px;
}

.nav .nav-bd li{
    color: #3C3C3C;
    display: inline-block;
    margin-right: 7px;
    padding: 0 6px;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height: 35px;
}

.nav .nav-bd li a:hover{
    color: #F40;
}

.nav .nav-bd .nav-bd-right{
    position: absolute;
    right: 0;
}


/* 标题栏 */
.title{
    position: relative;
    height: 121px;
    width: 1205px;
    margin: 0 auto;
    margin-left: 358px;
    margin-top: 24px;
}

.title .title-logo{
    top: 0;
    left: 0;
    display: inline-block;
    position: absolute;
    height: 88px;
    width: 190px;
}

.title .title-logo a{
    
    display: block;
    height: 80px;
    width: 190px;
}

.title .title-logo a img{
    position: relative;
    left: 50%;
    margin-left: -74px;
    top: 50%;
    margin-top: -32px;
}

.title .title-search{
    position: relative;
    display: inline-block;
    width: 628px;
    height: 87px;
    left: 257px;
    top: -0px;
}

.title .title-search .title-search-sort{
    height: 22px;
    width: 613px;
    margin-left: 17px;
}

.title .title-search .title-search-sort a{
    display: inline-block;
    
    color: #F40;
    font-weight: 100;
    text-align: center;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    cursor: pointer;
}

.title .title-search .title-search-sort .active{
    color: #FFF;
    border-radius: 6px 6px 0px 0px;
    font-weight: 700;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}

.title .title-search .title-search-from{
    margin-top: 0px;
    width: 630px;
    height: 40px;
    position: relative;
}

.title .title-search .title-search-from .from-bg{
    display: inline-block;
    width: 554px;
    height: 36px;
    border: 2px solid #ff5000;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
}

.title .title-search .title-search-from .from-bg input{
    height: 24px;
    width: 472px;
    margin: 5px 0 7px 10px;
    color: #000;
    font-size: 100%;
    border: none;
    outline:none;
}
.title .title-search .title-search-from button{
    height: 40px;
    width: 74px;
    margin-left: -6px;
    padding: 0;
    display: inline;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF4200;
    cursor: pointer;
    outline:none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title .title-search>ul{
    padding-top: 5px;
    width: 589px;
    height: 18px;
    line-height: 18px;
}

.title .title-search>ul>li{
    display: inline;
}
.title .title-search>ul>li>a:hover{
    color: #F40;
}

/* 二级导航 */
.subnav{
    height: 30px;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    margin-top: -24px;
    position: relative;
}

.subnav>div{
    position: absolute;
    left: 356.5px;
    width: 1190px;
    height: 30px;
    margin: 0;
    line-height: 30px;
    position: relative;
    color: #fff;
}

.subnav>div>h2{
    margin: 0;
    float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
    line-height: 30px;
}
.subnav>div>ul{
    margin-left: 200px;
}
.subnav>div>ul>li{
    display: inline;
    font-size: 16px;
    line-height: 30px;
}

.subnav>div>ul>li>a{
    display: inline-block;
    padding: 0 4px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
}

/* 主页面内容 */
.main{
    width: 100%;
    height: 632px;
    position: relative;
}

.main .main-pos{
    position: absolute;
    height: 632px;
    width: 1190px;
    left: 357px;
}

.main .main-menu{
    width: 190px;
    height: 522px;
    position: absolute;
    z-index: 1000;
}

.main-menu>ul{
    border: 1px solid #ff5000;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 188px;
    height: 512px;
}

.main-menu>ul>li{
    position: relative;
    padding-left: 25px;
    padding-right: 19px;
    height: 32px;
    width: 145px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    color: #666;
}

.main-menu>ul>li:hover{
    background-color: rgb(255,228,220);
    color: #F40;
}

.main-menu>ul>li>a,.main-menu>ul>li>i{
    color: #666;
}

.main-menu>ul>li:hover>a,.main-menu>ul>li:hover>i{
    color: #F40;
}

.main-menu>ul>li>a:hover{
    text-decoration: underline;
}

.main-menu>ul>li>i{
    position: absolute;
    right: 10px;
    font-size: 12px;
    font-style: normal;
}

.main .submenu{
    display: none;
    position: absolute;
    left: 188px;
    top: 0;
    padding: 0 0 0 18px;
    width: 692px;
    height: 518px;
    border: 2px solid #F94A14;
    box-shadow: 2px 2px 0 #dcdadb;
    background-color: #FFF;
    color: #333;
    font-size: 12px;
}

.submenu .submenu-item{
    display: none;
    color: #333;
    font-size: 12px;
    width: 692px;
    height: 518px;
}

.submenu .submenu-item .item-links{
    padding-top: 10px;
    width: 415px;
    height: 490px;
    overflow: hidden;
    padding-right: 12px;
    padding-left: 10px;
}

.submenu .submenu-item .item-links>div{
    height: 173px;
    width: 415px;
    margin-bottom: 5px;
    color: rgb(51,51,51);
}

.submenu .submenu-item .item-links>div>h5{
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    width: 415px;
    height: 36px;
}

.submenu .submenu-item .item-links>div>h5>a:first-child{
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    color: rgb(60,60,60);
}

.submenu .submenu-item .item-links>div>h5>a:last-child>i{
    position: absolute;
    right: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    color: rgb(60,60,60);
    font-style: normal;
}

.submenu .submenu-item .item-links>div>h5>a:hover{
    color: #F40;
}

.submenu .submenu-item .item-links>div>h5>a:hover>i{
    color: #F40;
}


.submenu .submenu-item .item-links>div>p{
    margin: 0;
    padding: 0;
    height: 104px;
    overflow: hidden;
    padding-bottom: 33px;
    line-height: 26px;
}

.submenu .submenu-item .item-links>div>p>a{
    display: inline-block;
    margin-right: 12px;
    white-space: nowrap;
}

.submenu .submenu-item .item-service{
    width: 253px;
    height: 498px;
    padding-top: 20px;
    position: absolute;
    right: 3px;
    top: 0;
    border-left: 1px solid #f4f4f4;
}

.submenu .submenu-item .item-service>h3{
    display: block;
    width: 253px;
    height: 18px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.submenu .submenu-item .item-service>div{
    width: 253px;
    height: 465px;
    overflow: hidden;
}

.submenu .submenu-item .item-service>div>a{
    display: inline-block;
    width: 97px;
    height: 143px;
    padding: 10px 0 0 20px;
    overflow: hidden;
}

.submenu .submenu-item .item-service>div>a>div{
    display: block;
    width: 98px;
    height: 97px;
    background-color: #000;
}

.submenu .submenu-item .item-service>div>a>div>img{
    display: block;
    width: 98px;
    height: 97px;
}

.submenu .submenu-item .item-service>div>a>h5{
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
    color: #999;
}

.submenu .submenu-item .item-service>div>a>div>img:hover{
    opacity: 0.8;
}

.submenu .submenu-item .item-service>div>a:hover>h5{
    color: #F40;
}



.main .main-carousel{
    position: absolute;
    left: 200px;
    top: 10px;
    width: 520px;
    height: 512px;
    
}

.main .main-carousel .carousel-top{
    position: absolute;
    top: 0px;
    left: 0;
    width: 520px;
    height: 280px;
    background: #F40;
}

.main .main-carousel .carousel-bottom{
    position: absolute;
    bottom: 0;
    width: 520px;
    height: 230px;
    background: #F40;
}

.main .main-column{
    position: absolute;
    top: 10px;
    left: 730px;
    height: 512px;
    width: 160px;
}

.main .main-column h5{
    font-size: 12px;
    font-weight: 400;
    background: #f1f1f1;
    color: #a1a1a1;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-top: 3px;
}

.main .main-Headlines{
    width: 890px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F40;
}

.main .main-right{
    width: 290px;
    height: 622px;
    background: #ff9000;
    position: absolute;
    right: 0;
    top: 10px
}